*{
	padding: 0px;
	margin: 0px;
	font-weight: 400;
	font-family: sans-serif;
	border: none;
}
.row{
	width: 100%;
	position: relative;
}
.header{
	/*height: 100px;*/
	background-color: #114875;
	padding-left: 100px;
	line-height: 1.35rem;
}
.header img{
	padding: 10px 0px;
}